a{
    text-decoration: none;
}
p{
    margin: 0;
}
body{
    position: relative;
}
/*Navbar*/
#navbar_{
    transition: all 0.2s ease-out;
}
.nav-link:hover{
    color: #fff !important;
}
header form button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

    position: relative;
    color: #333;
    right: 45px;
}
header form button:focus{
    box-shadow: none !important;
}
header i{
    font-size: 25px;
}
header #inane{
    height: 75px;
}
.offcanvas{
    transition: 0.2s all ease-out;
    width: 470px;
}
.accordion{
    max-width: 400px;
}
.accordion-button{
    transition: .05s all ease-out;
}
.accordion-button:hover{
    background: var(--bs-gray);
    color: #fff;
}
.accordion-button::after{
    transition: .15s all ease-out;
}
.accordion-button:hover::after{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


/*Preview*/
.container-fluid{
    padding: 0;
}
.carousel-item{
    display: flex;
    max-height: 600px;
}
.carousel-item img{
    object-fit: cover;
}

/*Main*/
main{
    min-height: 100vh;
}

/*Footer*/
footer li{
    margin: 10px 0;
}
footer a::after{
    content: "";
    display: block;
    background: #fff;
    height: 2px;
    width: 0;
    transition: .1s width ease-in;
}
footer li:hover a::after{
    width: 100%;
}


/*Form_sign*/
.form_sign{
    vertical-align: center;
    max-width: 500px;
    background: #fff;
}
